<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <div>
        <h2>Data from data.json:</h2>
        <pre><%= JSON.stringify(jsonData, null, 2) %></pre>
    </div>
</body>
</html>
